<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>@(ViewBag.Title == null ? string.Empty : ViewBag.Title + " | ")KAOS Documentation</title>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  
  <style type="text/css">
        
        .attribute_details {
            border-left: 2px solid #f5f5f5;
            padding-left: 20px;
        }
        
        hr.spacer {
            margin: 25px 0;
        }
        
        .section-header {
            padding: 25px 0 10px;
            color: #441F46;
            border-bottom: 2px solid #eee;
        }
        
        .subsection-header {
            padding: 15px 0 5px;
            color: #5a5a5a;
            border-bottom: 1px solid #eee;
            margin-bottom: 10px;
        }
        
        h3 {
            margin: 25px 0 25px;
        }
        
        h4 {
            margin: 35px 0 25px;
        }
        
        h5 {
            font-size: 1.14em;
            margin: 35px 0 25px;
        }
        
        h6 {
            font-size: 1.1em;
            margin: 35px 0 25px;
        }
        
        .formalspec {
            font-family: monospace;
        }
        
        dd {
            margin-top: 10px; 
        }
        
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron div {
  text-align: left;
}

.jumbotron h1 {
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

table.table tr td p {
    margin: 10px 0 0 0;
}

table.table tr td p:first-child {
    margin: 0 0 0 0;
}



        .diagram {
            position: relative;
            margin: 15px 0;
            padding: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }
        .diagram div {
            text-align: center;
        }
        .diagram div a {
            color: black;
        }
        .diagram pre {
            margin: 1em;
        }
        .diagram img { margin: 0 auto; }
        .diagram p.caption {
            margin: 0 0 0 0;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-width: 1px 0 0 0;
            padding: 10px;
            text-align: left;
        }
        
        /* D3 */
        
.diagram svg {
  padding: 10px;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

    </style>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <script src="Content/d3.min.js"></script>
    <script src="Content/dagre-d3.min.js"></script>
    <script src="Content/D3GoalDiagram.js"></script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KAOS Documentation</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="goals.html">Goals</a></li>
        <li><a href="obstacles.html">Obstacles</a></li>
        <li><a href="agents.html">Agents</a></li>
        <li><a href="domprops.html">Domain Properties</a></li>
        <li><a href="domhyps.html">Domain Hypothesis</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  <header class="jumbotron">
    <div class="container">
      <h1>@ViewBag.Title</h1>
      <p class="lead">@(ViewBag.Author == null ? string.Empty : ViewBag.Author + " - ")@(ViewBag.Version == null ? string.Empty : ViewBag.Version)</p>
    </div>
  </header>
  
  <div class="container">
    
    <div class="row">

    <div class="col-md-10">

  @RenderBody()
  
    </div>
  
    </div>

  </div>

</body>
</html>
