<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Kaos</string>
	<key>ordering</key>
	<array>
		<string>14847061-D227-43E7-98AC-F7D2443C47BD</string>
	</array>
	<key>uuid</key>
	<string>49B5CF4C-CB1B-4FB1-8BB3-255AE4E4273E</string>
</dict>
</plist>
