<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Kaos</string>
	<key>ordering</key>
	<array>
		<string>14847061-D227-43E7-98AC-F7D2443C47BD</string>
		<string>9DE41ED6-916D-4C49-B212-D3D1B00F9DAC</string>
		<string>FB119045-DC4F-49EE-BAEF-CCAE313D1F3E</string>
		<string>56AEA631-504C-497F-824C-01BC3E2D44C4</string>
		<string>2CF4FDF2-DA77-465D-B354-7CEEA1CB4679</string>
		<string>60E078C0-178A-46F9-8A4C-E0AD36BC8F16</string>
		<string>A4983055-FAAF-4A63-AF7E-9F258B513DA7</string>
		<string>6CB56A6A-FC7B-467B-8E9A-2B037C5384DE</string>
		<string>1508ECED-610E-4D40-A16A-25D60182BE22</string>
		<string>00AD703D-8CD1-4D59-BE54-799F0D281956</string>
		<string>DDBF472C-BCB1-48E8-98AF-2C59A6898C9F</string>
	</array>
	<key>uuid</key>
	<string>49B5CF4C-CB1B-4FB1-8BB3-255AE4E4273E</string>
</dict>
</plist>
